html {
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
-webkit-tap-highlight-color: transparent;
}
::selection {
color: #e00;
background: transparent;
}
body {
font-family: "font", sans-serif;
width: 100%;
max-width: 720px;
margin: auto;
color: #fff;
background: #000;
background-position: top center;
background-size: 100%;
text-align: center;
}
main {
display: flex;
flex-direction: column;
min-height: 100vh;
align-items: center;
justify-content: center;
animation: fadeUp 1s;
}
.center {
color: #fff;
font-size: 20px;
font-weight: 700;
text-align: center;
}
.hidden {
display: none;
}
.profile {
max-width: 80%;
margin: 0 auto;
border-radius: 50%;
}
.menu,
.menu a {
display: flex;
justify-content: center;
font-size: 28px;
font-weight: 700;
width: 85%;
padding: 6px;
margin: 0 24px;
color: #222;
background: #fff;
border-radius: 6px;
text-decoration: none;
transition: color 1s ease;
}
.menu:hover,
.menu a:hover {
color: #e00;
}
.menu-icon {
width: 32px;
margin: auto;
fill: #222;
vertical-align: middle;
transition: fill 1s ease;
}
.search {
font-family: "font", sans-serif;
font-size: 18px;
font-weight: 700;
padding: 12px 0 14px;
margin: 12px auto 0;
color: #fff;
background: transparent;
border: 3px solid #fff;
border-radius: 6px;
outline: none;
text-align: center;
transition: border 1s ease, background 1s ease;
}
.source, .source a {
max-width: 720px;
padding: 8px;
margin: -12px auto 12px;
text-align: center;
transition: color 1s ease;
display: none;
}
.source-icon {
fill: #fff;
vertical-align: middle;
transition: fill 1s ease;
}
.source-icon:hover {
fill: #e00;
}
.copyright,
.copyright a {
font-size: 14px;
font-weight: 700;
margin: -12px auto 12px;
color: #fff;
text-align: center;
text-decoration: none;
transition: color 1s ease;
}
.copyright:hover,
.copyright a:hover {
color: #e00;
}
@font-face {
font-family: "font";
font-display: swap;
src: url("/port.woff2");
}
@keyframes fadeUp {
from { opacity: 0;
transform: translate3d(0, 5px, 0); }
to { opacity: 1;
transform: translate3d(0, 0, 0); }
}
